<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="agersant.polaris">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PolarisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Polaris">
        <activity android:name=".features.browse.CollectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".features.settings.SettingsActivity" />
        <activity android:name=".features.browse.BrowseActivity" />
        <activity android:name=".features.queue.QueueActivity" />
        <activity android:name=".features.player.PlayerActivity" />

        <service
            android:name=".MediaPlayerService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>