name: Release To Beta

on:
  workflow_dispatch:
    inputs:
      versionName:
        description: 'User facing version name (eg: 0.8.0)'
        required: true

jobs:

  publish:
    name: Release
    runs-on: ubuntu-20.04
    steps:
      - name: Retrieve encryption keys
        id: decode_keystore
        uses: timheuer/base64-to-file@v1.0.3
        with:
          fileName: 'android-signing-keystore.jks'
          encodedString: ${{ secrets.SIGNING_KEYSTORE_BASE64 }}
      - name: Merge to beta branch
        uses: devmasx/merge-branch@v1.3.1
        with:
          type: now
          target_branch: beta
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout source
        uses: actions/checkout@master
        with:
          ref: beta
      - name: Update version name in gradle build file
        run: gawk -i inplace '/^[[:space:]]*versionName = / { $1 = "        "$1; $3 = "\"${{ github.event.inputs.versionName }}\""; } 1' app/build.gradle.kts
      - name: Increment version code in gradle build file
        run: gawk -i inplace '/^[[:space:]]*versionCode = / { $1 = "        "$1; $3 = $3 + 1; } 1' app/build.gradle.kts
      - name: Read version code from gradle build file
        run: echo "VERSION_CODE=v$(gradle -q printVersionCode)" >> $GITHUB_ENV
      - name: Build APK
        uses: maierj/fastlane-action@v1.4.0
        with:
          lane: 'build_release'
          skip-tracking: 'true'
        env:
          VERSION_CODE: ${{ env.VERSION_CODE }}
          SIGNING_KEYSTORE_PATH: ${{ steps.decode_keystore.outputs.filePath }}
          SIGNING_KEYSTORE_PASSWORD: ${{ secrets.SIGNING_KEYSTORE_PASSWORD }}
          SIGNING_KEY_ALIAS: ${{ secrets.UPLOAD_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.UPLOAD_KEY_PASSWORD }}
      - name: Copy release notes
        run: cp ./fastlane/metadata/android/en-US/changelogs/CURRENT_VERSION.txt "./fastlane/metadata/android/en-US/changelogs/${{ env.VERSION_CODE }}.txt"
      - name: Upload release
        uses: maierj/fastlane-action@v1.4.0
        with:
          lane: 'publish_to_beta'
          skip-tracking: 'true'
          options: '{ "apk_path": "app/build/outputs/apk/release/app-release.apk" }'
        env:
          GOOGLE_PLAY_SERVICE_ACCOUNT_API_KEY_JSON: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT_API_KEY_JSON }}
      - name: Commit and tag changes to beta branch
        uses: EndBug/add-and-commit@v5
        with:
          branch: beta
          message: 'Updated release notes, versionCode and versionName'
          add: '*.txt *.gradle.kts'
          tag: 'google-play-beta --force'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
