name: Release To Beta

on:
  workflow_dispatch:
    inputs:
      versionName:
        description: "User facing version name (eg: 0.8.0)"
        required: true

jobs:
  publish:
    name: Release
    runs-on: ubuntu-20.04
    steps:
      - name: Merge to beta branch
        uses: devmasx/merge-branch@v1.3.1
        with:
          type: now
          target_branch: beta
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout source
        uses: actions/checkout@master
        with:
          ref: beta
      - name: Retrieve encryption keys
        id: decode_keystore
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: "android-signing-keystore.jks"
          encodedString: ${{ secrets.SIGNING_KEYSTORE_BASE64 }}
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "3.0.2"
      - name: Update version name and increment version code in pubspec.yaml
        run: gawk -i inplace -F'[ +]' '/^[[:space:]]*version/ { $1 = $1; $2 = "${{ github.event.inputs.versionName }}+"1+$3; $3 = ""} 1' pubspec.yaml
      - name: Read version code from pubspec.yaml
        run: gawk -F'[ +]' '/^[[:space:]]*version/ { print "VERSION_CODE="$3 }' pubspec.yaml >> $GITHUB_ENV
      - run: echo "${{ env.VERSION_CODE }}"
      - name: Build Flutter app
        run: flutter build appbundle
        env:
          SIGNING_KEYSTORE_PATH: ${{ steps.decode_keystore.outputs.filePath }}
          SIGNING_KEYSTORE_PASSWORD: ${{ secrets.SIGNING_KEYSTORE_PASSWORD }}
          SIGNING_KEY_ALIAS: ${{ secrets.UPLOAD_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.UPLOAD_KEY_PASSWORD }}
      - name: Copy release notes
        run: cp ./android/fastlane/metadata/android/en-US/changelogs/CURRENT_VERSION.txt "./android/fastlane/metadata/android/en-US/changelogs/${{ env.VERSION_CODE }}.txt"
      - name: Upload release
        uses: maierj/fastlane-action@v1.4.0
        with:
          lane: "publish_to_beta"
          skip-tracking: "true"
          subdirectory: "android"
          options: '{ "aab": "../build/app/outputs/bundle/release/app-release.aab" }'
        env:
          GOOGLE_PLAY_SERVICE_ACCOUNT_API_KEY_JSON: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT_API_KEY_JSON }}
      - name: Commit and tag changes to beta branch
        uses: EndBug/add-and-commit@v5
        with:
          branch: beta
          message: "Updated release notes, versionCode and versionName"
          add: "*.txt *.yaml"
          tag: "google-play-beta --force"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
